<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!-- AutoWired Annotation -->
<!-- 
case1 if one bean of sane datatype is present then spring configure that value
	<bean id="triangle" class="com.infinite.annotations.autowired.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB" ref="point1"/>
		<property name="pointC" ref="point2"/>
	</bean>

	<bean id="zeroPoint" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="point1" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="20"/>
		<property name="y" value="10"/>
	</bean>

	<bean id="point2" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="-20"/>
		<property name="y" value="5"/>
	</bean>
	
	<bean id="circle" class="com.infinite.annotations.autowired.Circle">
			
	</bean>


	


 -->

<!--  case -2,else-if the id name is same as the field name  -->
	
	<!-- <bean id="triangle" class="com.infinite.annotations.autowired.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB" ref="point1"/>
		<property name="pointC" ref="point2"/>
	</bean>
 -->
	<!-- <bean id="zeroPoint" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="point1" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="20"/>
		<property name="y" value="10"/>
	</bean>

	<bean id="center" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="-20"/>
		<property name="y" value="5"/>
	</bean>
	
	<bean id="circle" class="com.infinite.annotations.autowired.Circle">
			
	</bean>
 -->


	<!-- 	case-3, else we can use @Qualifier annotation  -->
		
	<!-- 	<bean id="triangle" class="com.infinite.annotations.autowired.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB" ref="point1"/>
		<property name="pointC" ref="point2"/>
	</bean>
 -->
	<bean id="zeroPoint" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="point1" class="com.infinite.annotations.autowired.Point">
		<property name="x" value="20"/>
		<property name="y" value="10"/>
	</bean>

	<bean id="point2" class="com.infinite.annotations.autowired.Point">
		<qualifier value="circleRelated"></qualifier>
		<property name="x" value="-20"/>
		<property name="y" value="5"/>
	</bean>
	
	<bean id="circle" class="com.infinite.annotations.autowired.Circle">
	
	</bean>

		
		
		<!-- shortcut to import all annotations -->
		<context:annotation-config />
</beans>