<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
	
	<beans>
	<bean  id="pr" class="beans.Test">
	<property name="name" value ="pr"></property>
	<property name="age" value ="22"></property>
	<property name="eMail" value ="pr@gmail.com"></property>
	</bean>
	</beans>